/* h1{
    background-color: yellow;
    color: brown;
} */

/* 
h1{
    background-color: purple;
}

.momo{
    background-color: yellow;
}
.hola{
    background-color: green;
}
#header{
    background-color: red;
} */



/* h1{
    background-color: slateblue !important;
}
.momo{
    background-color: orangered ;
}
#hola{
    background-color: yellow;
} */


div p{
    background-color: forestgreen;
}